/* Card styling for the modal */
.viewcustomer-modal-card {
	width: 700px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
	padding: 24px;
	margin: 0 auto;
	margin-top: 100px;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transform: translateY(0);
	opacity: 1;
}

/* Close button styling */
.viewcustomer-close-button {
	position: absolute;
	top: 1px;
	right: 12px;
	/* background-color: rgba(255, 255, 255, 0.85); */
	border-radius: 50%;
	padding: 5px;
	/* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
	/* transition: background-color 0.2s ease; */
}

/* .viewcustomer-close-button:hover {
	background-color: rgba(255, 255, 255, 1);
} */

/* Container for user details */
.viewcustomer-user-details {
	display: flex;
	flex-direction: column;
	gap: 18px;
	align-items: flex-start;
	justify-content: center;
}

/* Flexbox for user info rows */
.viewcustomer-user-info {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid #f0f0f0;
}

.viewcustomer-user-info:last-child {
	border-bottom: none;
}

/* Label styling for user info */
.viewcustomer-info-label {
	font-weight: 600;
	font-size: 16px;
	color: #333;
	margin-right: 10px;
	white-space: nowrap;
}

/* Value styling for user info */
.viewcustomer-info-value {
	font-weight: 400;
	font-size: 16px;
	color: #555;
}

/* Preferred Location styling */
.viewcustomer-preferred-location {
	font-size: 15px;
	font-weight: bold;
	color: #444;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

/* Enhancing card's responsiveness */
@media (max-width: 600px) {
	.viewcustomer-modal-card {
		width: 90%;
		padding: 20px;
		margin-top: 60px;
	}
}
