/* Header */
.header {
  padding: 10px 20px;
  
}

.logo {
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.hamburger-icon {
  font-size: 25px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  color: black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; /* Allow scrolling when the sidebar content exceeds viewport */
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  background-color: #ff9800;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Pushes the logout button to the bottom */
  overflow-y: auto; /* Scrollable if content is large */
}

.sidebar-menu li {
  padding: 1px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar-menu li:hover {
  background-color: #f0f0f0;
}

.sidebar-menu li a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 16px;
  width: 100%; /* Ensures the background covers the full width */
  padding: 15px 20px;
  box-sizing: border-box;
}

.sidebar-menu li a.active {
  background-color: #ff9800;
  color: white;
  width: 100%; /* Ensure background color covers the full width */
}

.sidebar-menu li a.active:hover {
  background-color: #e68900; /* Slightly darker orange on hover */
}

.sidebar-menu li a:hover {
  color: #ff9800;
}

/* Logout Button */
.logout-button {
  background-color: #ff9800;
  color: white;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  border-top: 1px solid #ddd;
}

.logout-button:hover {
  background-color: #e68900;
}

.logout-button i {
  margin-right: 10px;
}

/* Submenu styling */
.submenu {
  padding-left: 15px;
}

.submenu-item {
  cursor: pointer;
}

.submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 10px 20px;
}

.submenu-item:hover {
  background-color: #f0f0f0;
}

.fa-chevron-up,
.fa-chevron-down {
  margin-left: 10px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

/* Scrollbar styling for the sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ff9800;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #e68900;
}
