.top-header {
	display: flex;
	justify-content: space-between; /* Ensures title/dropdown on the left and user info on the right */
	align-items: center;
	padding: 15px 30px;
	background-color: none;
	margin-left: 290px;
	position: relative;
	z-index: 100;
}

.top-header-left {
	display: flex;
	flex-direction: column; /* Stack the heading and dropdown vertically */
	align-items: flex-start; /* Keep the heading and dropdown aligned to the left */
}

.top-header h2.page-heading {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	margin: 0;
}

.location-select {
	width: 100%;
	min-width: 120px;
	margin-top: 10px; /* Add margin between heading and dropdown */
}

.login-details {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	color: #333;
	padding: 10px;
}

.user-icon {
	margin-right: 10px;
}

.topheadname {
	font-size: 16px;
	font-weight: 500;
	color: #333;
	display: flex;
	align-items: center;
}

.location-name {
	font-style: italic;
	color: #666;
	margin-left: 5px;
}

/* Mobile view */
@media (max-width: 768px) {
	.top-header {
		padding: 10px 20px;
		margin-left: 0;
		flex-direction: column;
		align-items: flex-end; /* Align items to the left on smaller screens */
	}

	.top-header-left {
		align-items: flex-end;
		width: 100%;
	}

	.page-heading {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.login-details {
		font-size: 14px;
		padding: 0;
	}

	.topheadname {
		font-size: 14px;
	}

	.user-info {
		font-size: 14px;
	}

	.location-name {
		font-size: 14px;
	}
}

/* Extra small mobile view */
@media (max-width: 480px) {
	.top-header {
		padding: 10px 15px;
	}

	.page-heading {
		font-size: 10px;
	}

	.login-details {
		font-size: 10px;
		padding: 5px;
	}

	.topheadname {
		font-size: 10px;
	}

	.user-icon {
		margin-right: 6px;
	}

	.location-name {
		font-size: 10px;
	}
}
