/** @format */

.top-header {
	display: flex;
	justify-content: space-between; /* Shift content to the right */
	padding: 15px 30px;
	top: 10px;
	margin-left: 290px;
	background-color: #fff;
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
	position: relative;
	z-index: 100; /* Ensure it stays above other content */
}
.top-header .location-select {
  width: 20%;
	padding: 10px;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.login-details {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	color: #333;
	padding: 10px;
}

.user-icon {
	margin-right: 10px;
}

.user-info {
	color: #333;
	display: flex;
	align-items: center;
}

.location-name {
	font-style: italic;
	color: #666;
	margin-left: 5px;
}

@media (max-width: 768px) {
	.top-header {
		padding: 10px 20px;
	}

	.login-details {
		font-size: 14px;
	}

	.user-icon {
		margin-right: 10px;
	}

	.user-info {
		color: #333;
		font-size: 20px;
	}

	.location-name {
		font-style: italic;
		color: #666;
		margin-left: 5px;
		font-size: 20px;
	}
	.topheadname {
		font-size: 10px;
	}
}
