/**
 * Main header styling
 *
 * @format
 */

.top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background-color: #fff;
	margin-left: 290px;
	position: relative;
	z-index: 100;
}

.top-header h2.page-heading {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	margin: 0;
}

.location-select {
	width: 100%;
	min-width: 120px;
}

.login-details {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	color: #333;
	padding: 10px;
}

.user-icon {
	margin-right: 10px;
}

.user-info {
	color: #333;
	display: flex;
	align-items: center;
}

.location-name {
	font-style: italic;
	color: #666;
	margin-left: 5px;
}

.topheadname {
	font-size: 16px;
	font-weight: 500;
	color: #333;
	display: flex;
	align-items: center;
}

/* Mobile view */
@media (max-width: 768px) {
	.top-header {
		padding: 10px 20px;
		margin-left: 0;
		flex-direction: column; /* Stack items vertically */
		align-items: flex-end;
		z-index: 0;
	}

	.page-heading {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.login-details {
		font-size: 14px;
		padding: 0;
	}

	.topheadname {
		font-size: 14px;
	}

	.user-info {
		font-size: 14px;
	}

	.location-name {
		font-size: 14px;
	}
}

/* Extra small mobile view */
@media (max-width: 480px) {
	.top-header {
		padding: 10px 15px;
	}

	.page-heading {
		font-size: 16px;
	}

	.login-details {
		font-size: 12px;
		padding: 5px;
	}

	.topheadname {
		font-size: 12px;
	}

	.user-icon {
		margin-right: 5px;
	}

	.location-name {
		font-size: 12px;
	}
}
