:root {
    --background-color: #71716f;
    --text-color: #ffffff;
    --card-background: #333333;
	--cardpart-background: rgb(86, 86, 86);
	--iconcart-background: rgb(86, 86, 86);
    --primary-button: #4a90e2;
	--header-textcolor: #FFFF33;
	--textcolor: rgb(255, 140, 0);

	--table-background: rgb(86, 86, 86);
	--table-headercolor: #444444;
	--table-rowcolor: #7e7e7e;
	--table-rowtextcolor: #ffffff;
	--table-rowheadtextcolor: #ffffff;
	--table-hover: #4e4e4e;

	--modal--formbg: rgb(119, 119, 119);
	--modal--formbgtextcol: white;
}


[data-theme='dark'] {
    
	--background-color: #ffffff;
    --text-color: #000000;
    --card-background: #f8f8f8;
	--cardpart-background: #ffffff;
	--iconcart-background: #e2e0e0;
    --primary-button: #007bff;
	--header-textcolor: #000000;
	--textcolor: #000000;

	--table-background: #f8f8f8;
	--table-headercolor: #d2cfcf;
	--table-rowcolor: #f8f8f8;
	--table-rowtextcolor: #000000;
	--table-rowheadtextcolor: #000000;
	--table-hover: #d7d7d7;

	--modal--formbg: #fff;
	--modal--formbgtextcol: rgb(0, 0, 0);
}




body {
	font-family: Arial, sans-serif;
	/* background-image: url('../public/assets/img/wizard.jpg'); */
	/* background-color: #E6F7FF; */
	background-size: cover;
	
}
/* Modal container */
.delete-modal {
	background-color: var(--modal--formbg);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

/* Modal message text */
.delete-modal p {
	font-size: 16px;
	color: var(--modal--formbgtextcol);
	margin-bottom: 20px;
}

.warning-modal{
	background-color: var(--modal--formbg);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

/* Button container for Yes/Cancel buttons */
.button-container {
	display: flex;
	justify-content: space-around;
}

/* Yes button */
.confirm-button {
	background-color: #0c65be;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.confirm-button:hover {
	background-color: #000;
}

/* Cancel button */
.cancel-button {
	background-color: white;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}

.cancel-button:hover {
	background-color: #f1f1f1;
}

/* Modal box styling */
.edit-modal {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 30vw;
}

/* Title styling */
#edit-location-modal-title {
	text-align: start;
	font-size: 18px;
	font-weight: bold;
}

.edit-modal .confirm-button {
	background-color: #0c65be;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}

.edit-modal .confirm-button:hover {
	background-color: #000;
}

.edit-modal .cancel-button {
	background-color: white;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}

.edit-modal .cancel-button:hover {
	background-color: #f1f1f1;
}

.add-modal {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	width: 100%;
}

/* Title styling */
#add-location-modal-title {
	text-align: start;
	font-size: 18px;
	font-weight: bold;
}

/* Submit button */
.add-modal .confirm-button {
	background-color: #0c65be;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}

.add-modal .confirm-button:hover {
	background-color: #000;
}

/* Cancel button */
.add-modal .cancel-button {
	background-color: white;
	border: 1px solid #ccc;
	padding: 8px 16px;
	border-radius: 5px;
	color: #666;
}

.add-modal .cancel-button:hover {
	background-color: #f1f1f1;
}

/* CreateUserModal.css */
.modal-container {
	width: 500px;
	padding: 16px;
	margin: auto;
	margin-top: 10%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-row {
	display: flex;
	gap: 16px;
	margin-bottom: 16px;
}

.custom-select {
	height: 55px;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	background-color: #f9f9f9;
}

.modal-container .confirm-button {
	background-color: #0c65be;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}

.modal-container .confirm-button:hover {
	background-color: #000;
}

/* Cancel button */
.modal-container .cancel-button {
	background-color: white;
	border: 1px solid #ccc;
	padding: 8px 16px;
	border-radius: 5px;
	color: #666;
}

.modal-container .cancel-button:hover {
	background-color: #f1f1f1;
}

.button-row {
	margin-top: 16px;
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}
